<template>
  <h1>Counter View</h1>
  <h2>{{counter }}</h2>

  <button @click="increase">+1</button>
  <button @click="decrease">-1</button>
</template>

<script>
import useCounter from '@/composables/useCounter';
export default {
  name: 'Counter',
  props: {},
  emit: {},
  setup() {
    const { counter, decrease, increase } = useCounter(10)

    return { counter, decrease, increase}
  }
}
</script>

<style>

</style>