<template>
  <h1>Slots</h1>
  <button @click="openModal">Abrir Modal</button>
  <Modal 
    v-if="isOpen"
    title="Hola Mundo"
    @on:close="closeModal"
    >
    <!--  <p>Lorem ipsum dolor sit amet consectetur.</p>
    <button>Salir</button>
    <h1>titulo del Modal</h1> -->
    <template v-slot:header>
      <h2>Titulo del modal</h2>
    </template>

    <template v-slot:body> 
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </template>

    <template v-slot:footer>
      <button @click="closeModal">Salir</button>
    </template>

    <template v-slot:exposed="{newTitle}">
      <h2>{{newTitle}}</h2>
    </template> 
  </Modal>
</template>

<script>
import { defineAsyncComponent, ref } from "vue";
export default {
  components: {
    Modal: defineAsyncComponent(() => import("@/components/Modal.vue")),
  },
  emits: ['on:close'],
  setup() {
    const isOpen = ref(false)
    return {
      isOpen,
      openModal:() => isOpen.value = true,
      closeModal:() => isOpen.value = false,
    }
  },
};
</script>

<style>
</style>