<template>
  <div class="home">
    <h1> Reactive vs Ref</h1>
    {{ironman}}
    <br>
    {{hulk}}
    <br>
    <br>
    <br>
    <button @click="changeIronman">changeIronman</button>
    <button @click="changeHulk">changeHulk</button>

    <br>
    <h3>Ironman: {{ironmanIsAlive}}</h3>
    <h3>hulk: {{hulkIsAlive}}</h3>
    <button @click="changeStatus">changeStatus</button>
  </div>
</template>

<script>
import { ref, reactive } from 'vue'

export default {
  name: 'Home',
  components: {
  },
  setup() {
    const ironman = ref({name:'Tony',age:50})
    const hulk = reactive({name:'Bruce',age:50})
    const ironmanIsAlive = ref(false)
    const hulkIsAlive = ref(true)

    const changeStatus = () =>{
      hulkIsAlive.value = !hulkIsAlive.value
      ironmanIsAlive.value = !ironmanIsAlive.value
    }

    return{
      ironman,
      hulk,
      ironmanIsAlive,
      hulkIsAlive,
      changeStatus,
      changeIronman:()=>{
        ironman.value.name = 'Tony Stark'
        ironman.value.age = 55
      },
      changeHulk:()=>{
        hulk.name = 'Bruce Banner'
        hulk.age = 45
      }
    }
  }
}
</script>
