<template>
  <h1>Lista de Tareas</h1>
  <h4>Pendientes: {{ pending.length }}</h4>

  <hr />
  <button 
    :class="{'active':currentTap === 'all'}"
    @click="currentTap ='all'"
  >
    Todos
  </button>
  <button 
    :class="{'active':currentTap === 'pending'}"
    @click="currentTap ='pending'"
  >
    Pendientes
  </button>
  <button 
    :class="{'active':currentTap === 'completed'}"
    @click="currentTap ='completed'"
  >
    Completados
  </button>

  <div>
    <ul>
      <li
        v-for="todo in getTodosByTap"
        :key="todo.id"
        :class="{ completed: todo.completed }"
        @dblclick="toggleTodo(todo.id)"
      >
        {{ todo.text }}
      </li>
    </ul>
  </div>
</template>

<script>
import { computed, ref } from "vue";
import { useStore } from "vuex";

export default {
  setup() {
    const store = useStore();
    const currentTap = ref('all');

    const pending = computed(() => store.getters["pendingTodos"]);
    const all = computed(() => store.getters["allTodos"]);
    const completed = computed(() => store.getters["completedTodos"]);

    const getTodosByTap = computed(() => store.getters["getTodosByTap"](currentTap.value));

    return {
      pending,
      all,
      completed,
      currentTap,
      getTodosByTap,
      toggleTodo:( id ) => store.commit('toggleTodo',id)
    };
  },
};
</script>

<style scoped>
div {
  display: flex;
  justify-content: center;
  text-align: center;
}

ul {
  width: 300px;
  text-align: left;
}

li {
  cursor: pointer;
}

.active {
  background-color: #2c3e50;
  color: white;
}

.completed {
  text-decoration: line-through;
}
</style>