<template>
  <h1>Lista de Tareas</h1>
  <h4>Pendientes: {{ pending.length }}</h4>

  <hr />
  <button 
    :class="{'active':currentTap === 'all'}"
    @click="currentTap ='all'"
  >
    Todos
  </button>
  <button 
    :class="{'active':currentTap === 'pending'}"
    @click="currentTap ='pending'"
  >
    Pendientes
  </button>
  <button 
    :class="{'active':currentTap === 'completed'}"
    @click="currentTap ='completed'"
  >
    Completados
  </button>

  <div>
    <ul>
      <li
        v-for="todo in getTodosByTap"
        :key="todo.id"
        :class="{ completed: todo.completed }"
        @dblclick="toggleTodo(todo.id)"
      >
        {{ todo.text }}
      </li>  
    </ul>
  </div>
  <button  @click="openModal">Crear Todo</button>
  <!-- MODAL -->
  <Modal
    v-if="isOpen"
    @on:close="closeModal"
  >
    <template v-slot:header>
      <h2>Agregar Todo</h2>
    </template>

    <template v-slot:body> 
      <form @submit.prevent="createTodo(newTodoText); isOpen = false; newTodoText = ''">
        <input type="text" v-model="newTodoText">
        <button type="submit">Agregar Todo</button>
      </form>
    </template>
  </Modal>
</template>

<script>

import useTodos from '@/composables/useTodos'
import { defineAsyncComponent, ref } from "vue";

export default {
  components:{
    Modal: defineAsyncComponent(() => import("@/components/Modal.vue")),
  },
  emits: ['on:close'],
  setup(){
    const isOpen = ref(false)

    const {
      currentTap,
      getTodosByTap,
      pending,
      toggleTodo,
      createTodo,
    } = useTodos()


    return { 
      currentTap,
      getTodosByTap,
      pending,
      toggleTodo,
      isOpen,
      createTodo,
      newTodoText: ref(''),
      openModal:() => isOpen.value = true,
      closeModal:() => isOpen.value = false,
    } 
  }
};
</script>

<style scoped>
div {
  display: flex;
  justify-content: center;
  text-align: center;
}

ul {
  width: 300px;
  text-align: left;
}

li {
  cursor: pointer;
}

.active {
  background-color: #2c3e50;
  color: white;
}

.completed {
  text-decoration: line-through;
}
</style>