<template>
  <h2 v-if="isLoading">Espere por favor ...</h2>
  <h2 v-else>usuarios</h2>
  <h2 v-if="errorMessage">{{ errorMessage }}</h2>

  <div v-if="users.length > 0">
    <UserList 
      :users=users
      v-slot="{user}"
    >
      <h5>{{user.first_name}} {{user_last_name}}</h5>
      <span>{{user.email}}</span>
      <br>
    </UserList>
  </div>

  <button @click="prevPage">Atras</button>
  <button @click="nextPage">Siguiente</button>
  <span>Pagina: {{ currentPage }}</span>
</template>

<script>
import useUsers from "@/composables/useUsers";
import UserList  from '../components/UserList'
export default {
  components:{
    UserList,
  },
  setup() {
    const { 
      users, 
      isLoading, 
      currentPage, 
      errorMessage, 
      nextPage, 
      prevPage } = useUsers();

      return {
        users, 
        isLoading, 
        currentPage, 
        errorMessage, 
        nextPage, 
        prevPage
      }
  },
};
// setup() {
//     const users = ref([])
//     const isLoading = ref(true)
//     const currentPage = ref(1)
//     const errorMessage = ref()

//     const getUsers = async (page = 1) =>{
//       if (page <= 0)  page = 1
//       isLoading.value = true
//       const {data} = await axios.get('https://reqres.in/api/users',{
//         params: { page }
//       })
//       if (data.data.length > 0) {
//         users.value = data.data
//         currentPage.value = page
//         errorMessage.value = null
//       }else if (currentPage.value > 0){
//         errorMessage.value = 'No hay mas usuarios'
//       }
//       isLoading.value = false

//     }

//     getUsers()
//     return{
//       users,
//       isLoading,
//       currentPage,
//       errorMessage,
//       nextPage:() => getUsers(currentPage.value+1),
//       prevPage:() => getUsers(currentPage.value-1)
//     }
//   },
</script>

<style scoped>
h2 {
  text-align: center;
  width: 100%;
}

div {
  display: flex;
  justify-content: center;
  text-align: center;
}
</style>
